@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-accent/20;
	}

	html {
		text-underline-offset: .5ch;
		@apply caret-accent accent-accent;
	}

	label {
		cursor: pointer;
	}

	input::placeholder {
		@apply text-ink/20;
	}

	mark {
		@apply bg-transparent text-accent font-bold underline;
	}
}

@layer components {
	.link {
		text-decoration: underline dashed;
		@apply hover:decoration-solid;
	}

	.link-hover {
		@apply hover:underline decoration-dashed;
	}

	.section {
		@apply max-w-screen-xl mx-auto my-4 px-4;
	}

	.bordered {
		@apply p-4 border border-bounty;
	}

	/* headings */

	.heading {
		position: relative;
		z-index: 1;
		padding: .25em 0;
		font-weight: bold;

		@apply max-w-max;
	}
	.heading::before {
		content: '';
		position: absolute;
		inset: .8ch -1ch;
		z-index: -1;
		rotate: -2deg;

		@apply bg-bounty;
	}
}

@layer utilities {
	.spoiler-hide {
		user-select: none;
		pointer-events: none;
		position: relative;

		@apply bg-ink text-ink;
	}
	.spoiler-hide::after {
		content: '⚠️';
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}
}
