@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-accent/20;
	}

	html {
		@apply caret-accent;
	}

	label {
		cursor: pointer;
	}

	mark {
		@apply bg-accent text-paper;
	}
}

@layer components {
	.link {
		text-decoration: 1px dashed underline;
		@apply hover:decoration-solid;
	}

	.link-hover {
		@apply hover:underline decoration-dashed;
	}

	.section {
		@apply max-w-screen-xl mx-auto my-4 px-4;
	}
}

@layer utilities {
	.spoiler-hide {
		user-select: none;
		pointer-events: none;
		position: relative;

		@apply bg-ink text-ink;
	}
	.spoiler-hide::after {
		content: '⚠️';
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
	}
}
